<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WifiConfig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70D1E32A1CDCFF84009B3C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D1E3431CDCFF84009B3C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D1E34E1CDCFF84009B3C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
